<!DOCTYPE html>
<html lang="pl">

<head>

	<title>Ping Point - Aplikacja stworzona przez Zespół X</title>
	<meta name="Keywords" content="programowanie,zespół 10,ping-pong,ping-point,liczenie punktów ping pong" />
	<meta name="description" content="Ping-Point - Innowacyjna aplikacja liczącą w czasie rzeczywistym punkty podczas grania w Ping-Ponga" />
	<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <meta charset='utf-8'>

	<!-- IKONKA STRONY -->
	<link rel="icon" type="image/png" href="../static/img/favicon-32x32.png" sizes="32x32" />
	<!-- BOOTSTRAP -->
	<link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <!-- GŁÓWNY ARKUSZ STYLI -->
    <link href="../static/css/style.css" rel="stylesheet">


	<script src="../static/js/angular.js" rel="stylesheet"></script>
	<script src="../static/js/index.js" rel="stylesheet"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
    open = false;
    openUserMenu = false;
    $(document).ready(function() {
        $("#detailsScore").click(function() {
            if (open == true) {
                $(".detailsMatch").slideUp();
                open = false;
                alert(openRel);
            } else {
                $(".detailsMatch").slideDown();
                open = true;
            }
        });
        $("#clickOpenMenuUser").click(function() {
            if (openUserMenu == true) {
                $(".userMenu").slideUp();
                openUserMenu = false;
            } else {
                $(".userMenu").slideDown();
               openUserMenu = true;
            }
        });
    });
	</script>



</head>

<body ng-app="myApp" ng-controller="myCtrl">
<div class="container-fluid" >
	<div class="header" >
			<nav>
				<div class="row">
					<a ng-click="menu()">
					<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 menuHeight">
						<img id="logo"  src="../static/img/logo.png">
					</div>
					</a>
					<div class="menuPc">

						<a href="/rank">
							<div  class="col-lg-2 col-md-2 col-sm-2 col-xs-12  col-lg-offset-4 col-md-offset-3 col-sm-offset-2   menuHeight" >
								<b>RANKING OGÓLNY</b>
							</div>
						</a>

						<a href="/showTournamentForm">
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12  col-lg-offset-0 col-md-offset-0 col-sm-offset-0   menuHeight">
								<b>STWÓRZ TURNIEJ</b>
							</div>
						</a>


						<div  id="clickOpenMenuUser"  class="col-lg-2 col-md-2 col-sm-3 col-xs-12  col-lg-offset-0 col-md-offset-0 col-sm-offset-0   menuHeight" >
							<b style="color:#fff;padding:5px;">{{login}}</b>
                            <img style="cursor:pointer;" src="../static/img/avatar.jpg"  class="imgPlayer">

							<div class="userMenu ">
								<a href="/myTournaments">
                                    <p style="border-bottom: 1px solid #02647d;color:#000"><b>TURNIEJE</b></p>
                                </a>

                                <a href="/myMatches">
                                    <p style="border-bottom: 1px solid #02647d;color:#000"><b>MECZE</b></p>
                                </a>

								<a style="color:#000"href="/logout">
                                    <b>WYLOGUJ</b>
                                </a>
							</div>
						</div>

					</div>




					<div class="menuMobile" >
						<a href="/rank">
							<div  class="col-xs-12 menuHeight" >
								<b>RANKING OGÓLNY</b>
							</div>
						</a>

						<a href="/showTournamentForm">
							<div class="col-xs-12  menuHeight">
								<b>STWÓRZ TURNIEJ</b>
							</div>
						</a>
                        <!-- DO POPRAWY  (ZROBIC MENU  UZYTKOWNIKA NA CALA SZEROKOSC MOBILNIE USERMENU NEW TOURNAMENT-->
						<div  id="clickOpenMenuUser"  class="col-lg-2 col-md-2 col-sm-3 col-xs-12  col-lg-offset-0 col-md-offset-0 col-sm-offset-0   menuHeight" >
							<b style="color:#fff;padding:5px;">{{login}}</b>
                            <img style="cursor:pointer;" src="../static/img/avatar.jpg"  class="imgPlayer">

							<div class="userMenu ">
								<a href="/myTournaments">
                                    <p style="border-bottom: 1px solid #02647d;color:#000"><b>TURNIEJE</b></p>
                                </a>

                                <a href="/myMatches">
                                    <p style="border-bottom: 1px solid #02647d;color:#000"><b>MECZE</b></p>
                                </a>

								<a style="color:#000"href="/logout">
                                    <b>WYLOGUJ</b>
                                </a>
							</div>
						</div>
					</div>

				</div>
			</nav>

	</div>

</div>
	{% if turnieje %}

	<h1>Twoje turnieje: </h1>
	{% for turniej in turnieje %}
		<div class="jumbotron">

			<p>id turnieju: {{turniej['id']}}</p>
			<p>nadzorca: {{turniej['nadzorca']}}</p>
			<p>typ: {{turniej['typ']}}</p>
			{% if turniej['opis'] %}
				<p>opis: {{turniej['opis']}}</p>
			{% endif %}
			{% if login == turniej['nadzorca'] %}
			<a href="/deleteTournament/{{turniej['id']}}"><p style="color:red;"> usuń turniej</p></a>
			{% endif %}

			<p>mecze:</p>
			<div class="match">
					{% for mecz in turniej['mecze'] %}
						{% if mecz['data'] %}
							<div class="itemData">
								<p class="piD">Data: {{mecz['data']}}</p>
							</div>

							<div class="itemScore">
								<div class="piS">
									{{mecz['gracz1']}}
									<img src="../static/img/avatar.jpg"  class="imgPlayer">
									<b>{{mecz['wynik_meczu'][0]}} : {{mecz['wynik_meczu'][1]}} </b>
									<img src="../static/img/avatar.jpg" class="imgPlayer">
									{{mecz['gracz2']}}
									<span type="button" id="detailsScore">sety</span>
								</div>
							</div>

							<div class="detailsMatch" id="Match">
								{% for i in mecz['przebieg_meczu'] %}
									<p>
										{% if mecz['punkty_gracz1'][loop.index] > mecz['punkty_gracz2'][loop.index] %}
											<b style="color:teal">{{mecz['gracz1']}} wygrał &nbsp; {{mecz['punkty_gracz1'][loop.index]}} : {{mecz['punkty_gracz2'][loop.index]}}</b>
										{% elif mecz['punkty_gracz1'][loop.index] < mecz['punkty_gracz2'][loop.index] %}
											<b style="color:tomato">{{mecz['gracz2']}} wygrał &nbsp; {{mecz['punkty_gracz2'][loop.index]}} : {{mecz['punkty_gracz1'][loop.index]}}</b>
										{% else %}
											<b>remis &nbsp; {{mecz['punkty_gracz1'][loop.index]}} : {{mecz['punkty_gracz2'][loop.index]}}</b>
										{% endif %}
									</p>
									{% for j in i %}
										{% if j == 0 %}
											<img id="red2"  src="../static/img/red2.png">
										{% elif j == 1 %}
											<img id="blue2"  src="../static/img/blue2.png">
										{% endif %}
									{% endfor %}
									<p></p>
								{% endfor %}
							</div>
						{% else %}
							<div class="itemData">
								<p class="piD"><b>{{mecz['gracz1']}} - {{mecz['gracz2']}}</b>: &nbsp; mecz się nie odbył</p>
							</div>
						{% endif %}
					{% endfor %}
			</div>

			<div>
				{% for gracz in turniej['ranking'] %}
				<p>{{loop.index}}. {{gracz}}</p>
				{% endfor %}
			</div>

			{% if turniej['typ']=='pucharowy' %}
				<main id="tournament">
					{% for runda in turniej['rundy'] %}
						<ul class="round round-{{loop.index}}">
							{% for mecz in runda %}
							<li class="spacer">&nbsp;</li>
							{% if mecz['wynik_meczu'][0] > mecz['wynik_meczu'][1]%}
							<li class="game game-top winner">{{mecz['gracz1']}}<span>{{mecz['wynik_meczu'][0]}}</span></li>
							<li class="game game-spacer">&nbsp;</li>
							<li class="game game-bottom ">{{mecz['gracz2']}}<span>{{mecz['wynik_meczu'][1]}}</span></li>
							{% elif mecz['wynik_meczu'][0] < mecz['wynik_meczu'][1]%}
							<li class="game game-top winner">{{mecz['gracz2']}}<span>{{mecz['wynik_meczu'][1]}}</span></li>
							<li class="game game-spacer">&nbsp;</li>
							<li class="game game-bottom ">{{mecz['gracz1']}}<span>{{mecz['wynik_meczu'][0]}}</span></li>
							{% else %}
							<li class="game game-bottom">{{mecz['gracz1']}}<span>{{mecz['wynik_meczu'][0]}}</span></li>
							<li class="game game-spacer">&nbsp;</li>
							<li class="game game-bottom ">{{mecz['gracz2']}}<span>{{mecz['wynik_meczu'][1]}}</span></li>
							{% endif %}
							<li class="spacer">&nbsp;</li>
							{% endfor %}
						</ul>
					{% endfor %}
				</main>
			{% elif turniej['typ'] == 'ligowy' %}
				<table>
				{% for wiersz in turniej['tabela'] %}
					<tr>
							{% for k in wiersz %}
							<td>
								{{k}}
							</td>
							{% endfor %}
					</tr>
				{% endfor %}
				</table>
			{% endif %}

		</div>

	{% endfor %}

	{% else %}
	<h3>Nie brałeś jeszcze udziału w żadnym turnieju.</h3>
	{% endif %}


<footer class="footer">
        &copy; Zespół 10. Wszelkie prawa zastrzeżone
    </footer>

</div>
</body>

</html>