<!DOCTYPE html>
<html lang="pl">

<head>

	<title>Ping Point - Aplikacja stworzona przez Zespół X</title>
	<meta name="Keywords" content="programowanie,zespół 10,ping-pong,ping-point,liczenie punktów ping pong" />
	<meta name="description" content="Ping-Point - Innowacyjna aplikacja liczącą w czasie rzeczywistym punkty podczas grania w Ping-Ponga" />
	<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <meta charset='utf-8'>

	<!-- IKONKA STRONY -->
	<link rel="icon" type="image/png" href="../static/img/favicon-32x32.png" sizes="32x32" />
	<!-- BOOTSTRAP -->
	<link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <!-- GŁÓWNY ARKUSZ STYLI -->
    <link href="../static/css/style.css" rel="stylesheet">


	<script src="../static/js/angular.js" rel="stylesheet"></script>
	<script src="../static/js/index.js" rel="stylesheet"></script>
    <!-- SELECT -->
    <link rel="stylesheet" type="text/css" href="../static/dist/multi.min.css">
        <script src="../static/dist/multi.min.js"></script>


</head>

  <body id="backgroundSing">



      <div class="backgroundSing">
		  <div class="singFrame">
			  <div style="text-align:center"> <img id="logoSingIn"   src="../static/img/logoSing.png">
			  <h1>Konfiguracja Turnieju</h1>
          <form class="form-signin" action="{{ url_for('newTournament') }}" method="POST">
            <label for="inputPunkty" class="sr-only">Punkty</label>
            <input type="number" name="inputPunkty" id="inputPunkty" class="form-control" placeholder="Punkty" required autofocus>

            <label for="inputSety" class="sr-only">Sety</label>
            <input type="number" name="inputSety" id="inputSety" class="form-control" placeholder="Sety" required autofocus>

            <!--
                <input type="name" name="inputTyp" id="inputTyp" class="form-control" placeholder="Typ" required>
            -->
              <!-- https://stackoverflow.com/questions/17139501/using-post-to-get-select-option-value-from-html -->
              <select class="form-control" name="inputTyp" id="inputTyp" >
                  <option value="" disabled selected>Wybierz typ turnieju</option>
                  <option value='pucharowy'>pucharowy</option>
                  <option value='ligowy'>ligowy</option>
              </select>

            <label for="inputOpis" class="sr-only">Opis</label>
            <input type="name" name="inputOpis" id="inputOpis" class="form-control" placeholder="Opis" required>

			<select class="multiSelect" multiple="multiple" name="inputGracze" id="inputGracze">
                {% for gracz in uzytkownicy %}
                <option value="{{gracz}}">{{gracz}}</option>
                {% endfor %}
            </select>


            <button id="btnTrn" class="btn btn-lg btn-primary btn-block" type="submit">Utwórz</button>
          </form>
                  {% if error == 1 %}
                  <p style="color:red;">{{info}}</p>
                  {% else %}
                  <p style="color:teal;">{{info}}</p>
                  {% endif %}

			  </div>
		  </div>
      </div>

        <script>
            var select = document.getElementById('inputGracze');
            multi( select );
        </script>
  </body>
</html>