<!DOCTYPE html>
<html lang="pl">

<head>

	<title>Ping Point - Aplikacja stworzona przez Zespół X</title>
	<meta name="Keywords" content="programowanie,zespół 10,ping-pong,ping-point,liczenie punktów ping pong" />
	<meta name="description" content="Ping-Point - Innowacyjna aplikacja liczącą w czasie rzeczywistym punkty podczas grania w Ping-Ponga" />
	<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <meta charset='utf-8'>

	<!-- IKONKA STRONY -->
	<link rel="icon" type="image/png" href="../static/img/favicon-32x32.png" sizes="32x32" />
	<!-- BOOTSTRAP -->
	<link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <!-- GŁÓWNY ARKUSZ STYLI -->
    <link href="../static/css/style.css" rel="stylesheet">


	<script src="../static/js/angular.js" rel="stylesheet"></script>
	<script src="../static/js/index.js" rel="stylesheet"></script>



</head>

<body ng-app="myApp" ng-controller="myCtrl">

<div class="container-fluid" >
    <div class="header" >
        <nav>
            <div class="row">
				<a ng-click="menu()">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 menuHeight">
					<img id="logo"  src="../static/img/logo.png">
				</div>
				</a>
				<div class="menuPc">
					<a href="/userHome">
						<div  class="col-lg-1 col-md-1 col-sm-1 col-xs-12  col-lg-offset-5 col-md-offset-4 col-sm-offset-3   menuHeight" >
							<b>HOME</b>
						</div>
					</a>

					<a href="/showSignIn">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12  col-lg-offset-0 col-md-offset-0 col-sm-offset-0   menuHeight">
							<b>LOGOWANIE</b>
						</div>
					</a>

					<a href="/showSignUp">
						<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12  col-lg-offset-0 col-md-offset-0 col-sm-offset-0   menuHeight" style="background-color:#e03238">
							<b>UTWÓRZ KONTO</b>
						</div>
					</a>
				</div>

                <div class="menuMobile" ng-show="open">
					<a href="/userHome">
						<div  class="col-lg-1 col-md-1 col-sm-1 col-xs-12  col-lg-offset-5 col-md-offset-4 col-sm-offset-3   menuHeight" >
							<b>HOME</b>
						</div>
					</a>

					<a href="/showSignIn">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12  col-lg-offset-0 col-md-offset-0 col-sm-offset-0   menuHeight">
							<b>LOGOWANIE</b>
						</div>
					</a>

					<a href="/showSignUp">
						<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12  col-lg-offset-0 col-md-offset-0 col-sm-offset-0   menuHeight" style="background-color:#e03238">
							<b>UTWÓRZ KONTO</b>
						</div>
					</a>
				</div>

            </div>
        </nav>

    </div>

      <div class="jumbotron">
        <h3>Nadzorca: {{nadzorca}}</h3>
		  <p>Wybierz graczy:</p>
		  <p>{% for user in uzytkownicy %}
		  {{user}}, 
		  {% endfor %}
		  </p>
          <form class="form-signin" action="/newTournament" method="post">
            <label for="inputPunkty" class="sr-only">Punkty</label>
            <input type="number" name="inputPunkty" id="inputPunkty" class="form-control" placeholder="Punkty" required autofocus>

            <label for="inputSety" class="sr-only">Sety</label>
            <input type="number" name="inputSety" id="inputSety" class="form-control" placeholder="Sety" required autofocus>

            <label for="inputTyp" class="sr-only">Typ</label>
            <input type="name" name="inputTyp" id="inputTyp" class="form-control" placeholder="Typ" required>

            <label for="inputOpis" class="sr-only">Opis</label>
            <input type="name" name="inputOpis" id="inputOpis" class="form-control" placeholder="Opis" required>

            <button id="btnTrn" class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
          </form>
      </div>
 
       
 <footer class="footer">
        &copy; Zespół 10. Wszelkie prawa zastrzeżone
    </footer>
    </div>
  </body>
</html>
