<!DOCTYPE html>
<html lang="pl">

<head>

	<title>Ping Point - Aplikacja stworzona przez Zespół X</title>
	<meta name="Keywords" content="programowanie,zespół 10,ping-pong,ping-point,liczenie punktów ping pong" />
	<meta name="description" content="Ping-Point - Innowacyjna aplikacja liczącą w czasie rzeczywistym punkty podczas grania w Ping-Ponga" />
	<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <meta charset='utf-8'>

	<!-- IKONKA STRONY -->
	<link rel="icon" type="image/png" href="../static/img/favicon-32x32.png" sizes="32x32" />
	<!-- BOOTSTRAP -->
	<link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <!-- GŁÓWNY ARKUSZ STYLI -->
    <link href="../static/css/style.css" rel="stylesheet">


	<script src="../static/js/angular.js" rel="stylesheet"></script>
	<script src="../static/js/index.js" rel="stylesheet"></script>



</head>

<body ng-app="myApp" ng-controller="myCtrl">

<div class="container-fluid" >
    <div class="header" >
        <nav>
            <div class="row">
				<a ng-click="menu()">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 menuHeight">
					<img id="logo"  src="../static/img/logo.png">
				</div>
				</a>
				<div class="menuPc">
					<a href="/userHome">
						<div  class="col-lg-1 col-md-1 col-sm-1 col-xs-12  col-lg-offset-5 col-md-offset-4 col-sm-offset-3   menuHeight" >
							<b>HOME</b>
						</div>
					</a>

					<a href="/showSignIn">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12  col-lg-offset-0 col-md-offset-0 col-sm-offset-0   menuHeight">
							<b>LOGOWANIE</b>
						</div>
					</a>

					<a href="/showSignUp">
						<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12  col-lg-offset-0 col-md-offset-0 col-sm-offset-0   menuHeight" style="background-color:#e03238">
							<b>UTWÓRZ KONTO</b>
						</div>
					</a>
				</div>

                <div class="menuMobile" ng-show="open">
					<a href="/userHome">
						<div  class="col-lg-1 col-md-1 col-sm-1 col-xs-12  col-lg-offset-5 col-md-offset-4 col-sm-offset-3   menuHeight" >
							<b>HOME</b>
						</div>
					</a>

					<a href="/showSignIn">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12  col-lg-offset-0 col-md-offset-0 col-sm-offset-0   menuHeight">
							<b>LOGOWANIE</b>
						</div>
					</a>

					<a href="/showSignUp">
						<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12  col-lg-offset-0 col-md-offset-0 col-sm-offset-0   menuHeight" style="background-color:#e03238">
							<b>UTWÓRZ KONTO</b>
						</div>
					</a>
				</div>

            </div>
        </nav>

    </div>

            <h1>Ranking</h1>
            <div class="jumbotron">
                {% for pozycja in ranking %}
                    <h3>{{pozycja[0]}}  wygrał {{ranking[pozycja]}} meczy</h3>
                {% endfor %}
            </div>


	<div class="container">
  <h2>Table</h2>
  <p>The .table-responsive class creates a responsive table which will scroll horizontally on small devices (under 768px). When viewing on anything larger than 768px wide, there is no difference:</p>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>{{55}}</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>City</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Anna</td>
        <td>Pitt</td>
        <td>35</td>
        <td>{{proba}}</td>
        <td>USA</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

         <footer class="footer">
            &copy; Zespół 10. Wszelkie prawa zastrzeżone

                    <h3> {{ranking[0]}} meczy</h3>

         </footer>

    </div>
	<script src="../static/js/index.js" rel="stylesheet"></script>
</body>

</html>
