<!DOCTYPE html>
<html lang="pl">

<head>

	<title>Ping Point - Aplikacja stworzona przez Zespół X</title>
	<meta name="Keywords" content="programowanie,zespół 10,ping-pong,ping-point,liczenie punktów ping pong" />
	<meta name="description" content="Ping-Point - Innowacyjna aplikacja liczącą w czasie rzeczywistym punkty podczas grania w Ping-Ponga" />
	<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <meta charset='utf-8'>

	<!-- IKONKA STRONY -->
	<link rel="icon" type="image/png" href="../static/img/favicon-32x32.png" sizes="32x32" />
	<!-- BOOTSTRAP -->
	<link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <!-- GŁÓWNY ARKUSZ STYLI -->
    <link href="../static/css/style.css" rel="stylesheet">


	<script src="../static/js/angular.js" rel="stylesheet"></script>
	<script src="../static/js/index.js" rel="stylesheet"></script>



</head>

<body ng-app="myApp" ng-controller="myCtrl" id="backgroundSing">


	<div class="backgroundSing">
		  <div class="singFrame">
			  <div style="text-align:center"> <img id="logoSingIn"   src="../static/img/logoSing.png">
			  <h1>Rejestracja</h1>
			 <form class="form-signin">
				<label for="inputName" class="sr-only">Login</label>
				<input type="name" name="inputName" id="inputName" class="form-control" placeholder="Login" required autofocus>
				<label for="inputEmail" class="sr-only">Email</label>
				<input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
				<label for="inputPassword" class="sr-only">Haslo</label>
				<input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Hasło" required>

				<button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Zarejestruj</button>
			 </form>
				  </div>
      </div>

  </body>
</html>
